# api folder
api/logs
api/node_modules
api/dist
api/.env

# client folder
client/node_modules
client/dist

#database
clothed_database/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?